serveur_231116_1700
[{"id":"97484b8.73501b8","type":"tab","label":"Flow 1"},{"id":"8a04fd0.bd42e","type":"websocket-listener","z":"97484b8.73501b8","path":"/ws/simple","wholemsg":"false"},{"id":"8ae77e88.04272","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"pickit","tz":"France"},{"id":"ac5327ed.683f68","type":"free-mobile-account","z":"","user":"12481411","pass":"x7z4kJGIwuDYLp","api_url":"https://smsapi.free-mobile.fr/sendmsg","name":"My Free Mobile account"},{"id":"c7b7f175.80f15","type":"http response","z":"97484b8.73501b8","name":"","x":587,"y":485,"wires":[]},{"id":"da40be1.470cf4","type":"http in","z":"97484b8.73501b8","name":"","url":"/pickit","method":"post","swaggerDoc":"","x":115,"y":527,"wires":[["f4677961.907eb8","3994f55b.7bdfea","c70a8f6c.1677e"]]},{"id":"f4677961.907eb8","type":"template","z":"97484b8.73501b8","name":"Simple Web Page","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE HTML>\n<html>\n    <head>\n    <title>Bonjou' Mossieu Legland</title>\n    </head>\n    <body onload=\"wsConnect();\" onunload=\"ws.disconnect();\">\n        <font face=\"Arial\">\n        <h1>Simple Live Display</h1>\n        <div id=\"messages\"></div>\n        <button type=\"button\" onclick='doit(\"click\");'>Click to send message</button>\n        <hr/>\n        <div id=\"status\">unknown</div>\n        </font>\n    </body>\n</html>\n","x":313,"y":525,"wires":[["c7b7f175.80f15","619c127.b6ba2ec"]]},{"id":"3994f55b.7bdfea","type":"debug","z":"97484b8.73501b8","name":"Requête Arduino","active":true,"console":"false","complete":"true","x":315,"y":429,"wires":[]},{"id":"a88d07cf.4449a8","type":"mysql","z":"97484b8.73501b8","mydb":"8ae77e88.04272","name":"query RFID","x":590,"y":93,"wires":[["4edcdabe.84eab4","d491e624.e1f9c8"]]},{"id":"619c127.b6ba2ec","type":"debug","z":"97484b8.73501b8","name":"Réponse Raspberry","active":true,"console":"false","complete":"payload","x":568,"y":431,"wires":[]},{"id":"fd199772.44b218","type":"sms-free-mobile","z":"97484b8.73501b8","free_mobile_account":"ac5327ed.683f68","texto":"","name":"SMS Free Mobile","x":1384.9999694824219,"y":107,"wires":[]},{"id":"4d6c1464.c1c86c","type":"inject","z":"97484b8.73501b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":395,"y":210.99999237060547,"wires":[["477bdec5.5d67c"]]},{"id":"13d9130a.d5829d","type":"function","z":"97484b8.73501b8","name":"Query Database","func":"msg.topic = \"select objects.rfid_tag, objects.obj_name from objects, list where objects.id = list.id;\"\n//msg.topic = \"select objects.rfid_tag from objects, list where objects.id = list.id;\"\n\nreturn msg;","outputs":1,"noerr":0,"x":382,"y":93,"wires":[["a88d07cf.4449a8"]]},{"id":"d491e624.e1f9c8","type":"function","z":"97484b8.73501b8","name":"parsing database payload","func":"msg.rfid = [];\nmsg.objet = [];\n\n//msg.payload[0] = JSON.stringify(msg.payload[0]);\n//msg.payload[0] = msg.payload[0].replace('{\\\"rfid_tag\\\":','');\n//msg.rfid[0] = msg.payload[0].replace('}','');\n//changer le type de msg.payload[0], actuellement strig \"1\", dans le bon type à comparer. (en fonction du type envoyé par l'arduino)\n\n\n\nfor (var i = 0; i <= (msg.payload.length - 1); i++) {\n\nmsg.rfid[i] = msg.payload[i].rfid_tag ;\nmsg.objet[i] = msg.payload[i].obj_name ;\n/*\nmsg.payload[i] = JSON.stringify(msg.payload[i]);\nmsg.payload[i] = msg.payload[i].replace('{\\\"rfid_tag\\\":','');\nmsg.rfid[i] = msg.payload[i].match(/.+?(?=,)/);\nmsg.payload[i] = msg.payload[i].replace(/.+?(?=,)/,'');\nmsg.payload[i] = msg.payload[i].replace(',\\\"obj_name\\\":\\\"','');\nmsg.objet[i] = msg.payload[i].match(/.+?(?=\")/);\n*/\n\n}\n\nvar cpt = 0;\nvar trouve = 0;\nfor (var j = 0; j <= (msg.rfid_arduino.length - 1); j++) {\n    \n    cpt=0;\n    trouve=0;\n    while (trouve === 0 && cpt < (msg.rfid.length) ) {\n        if (msg.rfid_arduino[j]==msg.rfid[cpt]) {\n            msg.rfid[cpt]=0;\n            trouve = 1;\n        }\n        cpt++;\n    }\n}\n\n\n\n\n\n/*\nvar cpt = 0;\nvar trouve = 0;\nfor (var j = 0; j <= (msg.rfid_arduino.length - 1); j++) {\n    \n    cpt=0;\n    trouve=2;\n    //for (var k = 0; k <= (msg.rfid.length - 1); j++) {\n    while (trouve == 2 && cpt < (msg.rfid.length) ) {\n        if (msg.rfid_arduino[j]==msg.rfid[cpt]) {\n            msg.rfid.splice(cpt,1);\n            trouve = 1;\n        }\n        cpt++;\n    }\n}\n*/\n\n\n\n/*\nfor (var j = 0; j <= (msg.rfid_arduino.length - 1); j++) {\n    for (var k = 0; k <= (msg.rfid.length - 1); j++) {\n        if (msg.rfid_arduino[j]==msg.rfid[k]) {\n            msg.rfid.splice(cpt,1);\n            trouve = 1;\n        }\n*/\n\n\nreturn msg;","outputs":1,"noerr":0,"x":857,"y":93,"wires":[["6d41ebb.faeea14","27573c01.bdcd04"]]},{"id":"4edcdabe.84eab4","type":"debug","z":"97484b8.73501b8","name":"","active":true,"console":"false","complete":"false","x":599,"y":34,"wires":[]},{"id":"6d41ebb.faeea14","type":"debug","z":"97484b8.73501b8","name":"","active":true,"console":"false","complete":"true","x":1080.9999694824219,"y":31,"wires":[]},{"id":"c70a8f6c.1677e","type":"function","z":"97484b8.73501b8","name":"JSON Stringify","func":"msg.payload=JSON.stringify(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":442,"y":626,"wires":[["d43051ed.ad3c2"]]},{"id":"d43051ed.ad3c2","type":"debug","z":"97484b8.73501b8","name":"","active":true,"console":"false","complete":"false","x":850,"y":443,"wires":[]},{"id":"477bdec5.5d67c","type":"function","z":"97484b8.73501b8","name":"arduino rfid store","func":"msg.rfid_arduino = [];\n\nmsg.rfid_arduino = [1, 2, 3, 4];\n\n\n//This function store the rfid json from arduino to a msg.rfid_arduino\n/*\nfor (var i = 0; i <= (msg.payload.length - 1); i++) {\n \n msg.rfid_arduino[i] = msg.payload[i].rfid;\n    \n}*/\n\n\nreturn msg;","outputs":1,"noerr":0,"x":386.8333435058594,"y":151.99999237060547,"wires":[["13d9130a.d5829d"]]},{"id":"27573c01.bdcd04","type":"function","z":"97484b8.73501b8","name":"Create SMS for User","func":"msg.payload = \"\";\n//msg.payload= \"Bizut, t'as oublié de prendre cet objet : \"\n\nmsg.forgotten = 0;\n\nfor (var i = 0; i <= (msg.rfid.length - 1); i++) {\n \n if (msg.rfid[i] !== 0) {\n    msg.payload=msg.payload + msg.objet[i] + \", \";\n    msg.forgotten++;\n } \n    \n}\n\nif (msg.forgotten === 0)\n    msg.payload=\"Parfait, vous n'avez rien oublié. Pensez tout de même à prendre quelques Pépito pour la route !\";\nelse if (msg.forgotten==1) {\n    msg.payload = \"Attention, vous avez oublié cet objet : \" + msg.payload;\n    msg.payload = msg.payload.substring(0, msg.payload.length - 2);\n    }\nelse {\n    msg.payload = \"Attention, vous avez oublié ces objets : \" +msg.payload;\n    msg.payload = msg.payload.substring(0, msg.payload.length - 2);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1135.8332824707031,"y":91.33334350585938,"wires":[["fd199772.44b218"]]}]